* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bungee', serif;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
}

.assets {
    display: none;
}

.controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.controls button {
    width: 40px;
    height: 40px;
}